body {
  font-family: 'Poppins', sans-serif;
}

#headline {
  border-radius: 0 0 0 5rem;
  background-image: url(../images/Header\ bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}